* {
  /* outline: 1px solid gold;
  outline-offset: -1px; */
  font-family: 'Open Sans', sans-serif !important;
}

.fetch-more:hover {
  background-color: white !important;
  color: black !important;
}